SCREENSHOT_SERVER_URL=https://your-django-files-server.example.com
SCREENSHOT_USERNAME=your_username
SCREENSHOT_PASSWORD=your_password

# Required only if uploading to App Store Connect
ASC_API_ID=YOUR_KEY_ID
ASC_ISSUER_ID=YOUR_ISSUER_ID
ASC_API_KEY=YOUR_KEY_CONTENT_OR_BASE64
