# Xcode
.gitignore
.key
fastlane/screenshots
fastlane/Preview.html

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

.build/
.DS_Store
report.xml
report.html
report.junit

GoogleService-Info.plist
.env.screenshots
